<style>
    body{
        padding: 0px;
        margin: 0px;
        font-family: 'Georgia';
    }
    .heading{
        background: #000080;
        color: white;
        padding: 15px;
        margin: 0px;
        text-align: center;
    }
    .weather-specs{
        text-align: center;
    }

    
</style>

<h2 class="heading">Weather App</h2>
<center class="row">
    <div class="col-md-2"></div>
    <form action="" method="post" class="col-md-8">
        {% csrf_token %}
        <div class="input-group d-flex">
            <div>
                <input type="text" class="form-control" name="city" placeholder="Start typing a location...">
            </div>
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="col-md-2"></div>
</center>

{{city}}
<div class="row weather-specs">
    <div class="col-md-6 col-md-offset-3 text-align-center">
        <h3>country code: </h3>
        <h5>coordinate: </h5>
        <h5>temp: </h5>
        <h5>pressure: </h5>
        <h5>humidity: </h5>
    </div>

</div>